Source: ogmtools
Section: graphics
Priority: optional
Maintainer: Marc Leeman <marc.leeman@gmail.com>
Build-Depends: debhelper (>= 9), cdbs, automake, libvorbis-dev (>= 1.0.0-2), libvorbis0a, libdvdread-dev, libogg0, quilt
Standards-Version: 3.9.8

Package: ogmtools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tools for manipulating Ogg multimedia streams
 These tools manipulate Ogg media streams:
  * ogminfo  - displays stream information
  * ogmdemux - demuxes an ogm stream into its component media streams
  * ogmsplit - splits an ogm stream into chunks
  * ogmmerge - joins media streams into an ogm stream
  * dvdxchap - extracts chapter information from DVDs
